[project]
	description = Vacuum cleaner simulator
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/chrisly-bear
[access "refs/for/refs/*"]
	read = group user/chrisly-bear
	push = group user/chrisly-bear
	label-Code-Review = -2..+2 group user/chrisly-bear
	label-Verified = -1..+1 group user/chrisly-bear
	rebase = group user/chrisly-bear
	removeReviewer = group user/chrisly-bear
	submit = group user/chrisly-bear
[access "refs/heads/*"]
	read = group user/chrisly-bear
	create = group user/chrisly-bear
	push = +force group user/chrisly-bear
	pushMerge = group user/chrisly-bear
[access "refs/tags/*"]
	push = group user/chrisly-bear
	push = +force group user/chrisly-bear
